.postFormContainer {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 80px;
  border-bottom: solid 1px #f3f1f7;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  font-size: 24px;
}

.postFormItem {
  display: flex;
  flex-direction: column;
}

/* .thoughtContainer {} */
